@font-face {
    font-family: ubuntu-regular;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: ubuntu-medium;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: ubuntu-bold;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

/*CSS Reset*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

ul {
    padding-inline: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--clr-bg);
    position: relative;
    display: flex;
    justify-content: center;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*----/Css Reset-----*/

:root {
    --clr-primary: hsla(243, 100%, 62%, 1);
    --clr-secondary: hsla(213, 96%, 18%, 1);
    /*primary Text*/

    --clr-error: hsla(354, 84%, 57%, 1);
    --clr-bg: hsla(218, 100%, 97%, 1);

    /*----Main Colors-----*/
    --clr-neutral: hsl(0, 0%, 100%);
    --clr-secondary-text: hsla(231, 11%, 63%, 1);
    --clr-titlemenu-text: hsla(228, 100%, 83%, 1);
    --clr-menu-active-bullet: hsla(206, 94%, 87%, 1);
    --clr-bg-input-active: hsla(231, 100%, 99%, 1);
    --clr-borders: hsla(231, 23%, 87%, 1);


    /*text color darkMode is white*/

    --ff-family-regular: "ubuntu-regular";
    --ff-family-medium: "ubuntu-medium";
    --ff-family-bold: "ubuntu-bold";

    --fs-100: 0.75rem;
    /*12px*/
    --fs-200: 0.875rem;
    /*14px*/
    --fs-300: 0.9375rem;
    /*15px*/
    --fs-400: 1rem;
    /*16px*/
    --fs-600: 1.5rem;
    /*24px*/
    --fs-900: 2rem;
    /*32px*/

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
}

/*Utility Classes*/

.flex {
    display: flex;
}

.flex__column {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.ff__regular {
    font-family: var(--ff-family-regular), Helvetica, sans-serif;
}

.ff__medium {
    font-family: var(--ff-family-medium), Helvetica, sans-serif;
}

.ff__bold {
    font-family: var(--ff-family-bold), Helvetica, sans-serif;
}

.fs-100 {
    font-size: 0.75rem;
    /*12px*/
}

.fs-200 {
    font-size: 0.875rem;
    /*14px*/
}

.fs-300 {
    font-size: 0.9375rem;
    /*15px*/
}

.fs-400 {
    font-size: 1rem;
    /*16px*/
}

.fs-600 {
    font-size: 1.5rem;
    /*24px*/
}

.fs-900 {
    font-size: 2rem;
    /*32px*/
}

.clr-neutral {
    color: var(--clr-neutral);
}

.clr-secondary-text {
    color: var(--clr-secondary-text);
}

.clr__error {
    color: var(--clr-error);
}

/*--------------*/

main {
    display: flex;
    flex-direction: column;
    min-width: 23.4rem;
    max-width: 58.7rem;
    width: 100%;
    margin-inline: auto;
}

.nav__steps {
    padding-bottom: 2rem;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.nav__steps .container,
.menu__steps {
    display: flex;
    justify-content: center;
    margin-block: 1.3rem;
}

.form__steps .container section:first-of-type {
    top: 6.31rem;
    position: absolute;
    width: 100%;
}

.navBtnDescription {
    display: none;
}

.step .title {
    font-size: clamp(var(--fs-600), 4vw, var(--fs-900));
}

.step .subtitle {
    margin-bottom: 1.8rem;
    color: var(--clr-secondary-text)
}

.menu__bullet {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid white;
    margin-inline: 0.5rem;
    background-color: transparent;
    font-family: var(--ff-family-medium);
    color: var(--clr-neutral);
}

.menu__bullet.bulletOn {
    background-color: var(--clr-menu-active-bullet);
    color: var(--clr-secondary);
}

.priceAddon {
    color: var(--clr-primary)
}

/*-----Formulario(Personal info)------*/

#myform {
    background-color: var(--clr-neutral);
    margin: 0 0.7rem 5rem;
    border-radius: 0.625rem;
}

.step {
    /* to avoid !important i include css directly in the element, and then in media querie i select the parent with element ex:#myform .step*/
    padding-block: 2rem;
    padding-inline: 1.8rem;
}

.step>div {
    padding-bottom: 0.5rem;
}

.personal__info .inputsList {
    width: 100%;
}

.personal__info input {
    padding-block: 1rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--clr-borders);
    padding-left: 1rem;
    margin-bottom: 1rem;
}

/*-----Formulario(select plan/pick addons)------*/

.planItem {
    display: flex;
    width: 100%;
    max-height: 3.7rem;
    padding-bottom: 1rem;
}

.planItem img {
    margin-right: 0.8rem;
}

.select__plan input {
    display: none;
}

.select__plan .inputsList {
    display: flex;
    flex-direction: column;
}

.pricePlan {
    color: var(--clr-secondary-text)
}

.inputsList .card {
    display: flex;
    /* max-height: 4.81rem; */
    width: 100%;
    margin-bottom: 0.75rem;
    border: 1px solid var(--clr-borders);
    border-radius: 0.5rem;
    padding: 0.8rem;
    justify-content: space-between;
}

.odd-columns {
    width: min(100%, 13.5rem);
}

.addOn {
    margin-right: 1rem;
    width: 1.2rem;
}

.priceAddon {
    display: flex;
    padding-bottom: 0;
    align-items: center;
}

/*------switch button---------*/

.timeModelPlan {
    width: 100%;
    background-color: var(--clr-bg-input-active);
    display: flex;
    justify-content: center;
    padding-block: 0.75rem;
}

.timeModelPlan p {
    margin-inline: 1.8rem;
    color: var(--clr-secondary-text);
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.3rem;
    height: 1.2rem;
}

#timemodel {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    /* shortcut para top right bottom left*/
    background-color: var(--clr-secondary);
    transition: 1s;
    border-radius: 2.12rem;
}

.slider::before {
    content: "";
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    inset: auto auto 0.25rem 0.25rem;
    background-color: white;
    transition: 1s;
    border-radius: 2.12rem;
}

input:checked~label .slider {
    background-color: #2196F3;
}

input:focus~label .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked~label .slider:before {
    transform: translateX(1.1rem)
}

#timemodel+p {
    color: var(--clr-secondary);
}

#timemodel:checked+p {
    color: var(--clr-secondary-text);
}

#timemodel:checked~label+p {
    color: var(--clr-secondary);
}

/*Active Elements*/
.card.checked {
    border-color: var(--clr-primary);
    background-color: var(--clr-bg-input-active);
}

/*-----Buttons--------*/
.btn {
    background-color: var(--clr-neutral);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.previous__next {
    display: flex;
    justify-content: space-between;
}

.nav__btn {
    background-color: var(--clr-secondary);
    border-radius: 0.4rem;
    color: var(--clr-neutral);
    margin: 1rem;
    width: min(6.06rem, 100%);
    height: 2.5rem;
    font-size: clamp(var(--fs-200), 4vw, var(--fs-400));
}

/*---Media Queries-----*/

@media (min-width:50rem) {

    body {
        align-items: center;
    }

    main {
        flex-direction: row;
        background-color: var(--clr-neutral);
        align-items: stretch;
        padding: 1rem;
        max-height: 37.5rem;
        height: 100vh;
        box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);
        border-radius: 0.9rem;
    }

    .menu__steps {
        flex-direction: column;
    }

    .nav__steps {
        background-image: url("./assets/images/bg-sidebar-desktop.svg");
        max-width: 17.1rem;
    }

    .nav__steps .container {
        justify-content: start;
    }

    .menu__bullet {
        margin: 2rem 1rem 0 2rem;
    }

    .form__steps .container section:first-of-type {
        position: static;
    }

    .navBtnDescription {
        display: inline-block;
        padding-top: 1.7rem;
        position: absolute;
    }

    section #myform {
        margin: 0;
    }

    #myform .step {
        padding-inline: 0;
    }

    .form__steps .container {
        background-color: var(--clr-neutral);
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 28.1rem;
        position: relative;
    }

    .select__plan .inputsList {
        flex-direction: row;
        justify-content: space-between;
    }

    .inputsList:first-of-type .card {
        max-width: 8.6rem;
    }

    .planItem {
        flex-direction: column;
        max-height: 9rem;
        padding-bottom: 1.5rem;
    }

    .planItem img {
        margin-bottom: 2.2rem;
    }

    .container {
        margin-inline: auto;
    }

    .container section,
    .form__steps {
        flex-grow: 1;
    }

    .nav__btn {
        margin: 0;
    }

    .btn {
        background-color: var(--clr-neutral);
        width: 100%;
        position: absolute;
        bottom: 1rem;
    }


}